&npm2100_pmic {
    host-int-gpios = <&gpio1 6 (GPIO_ACTIVE_HIGH)>;
    host-int-type = "level";
    pmic-int-pin = <1>;
    pmic-int-flags = <GPIO_ACTIVE_HIGH>;
    shiphold-flags = <(GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    shiphold-longpress = "ship";
    shiphold-current = "weak";
};

&npm2100_boost {
    /* 2V results in optimal currents through the external LED */
    regulator-init-microvolt = <2000000>;
};
